.chat-main
  .chat-main__group-info
    .group-detail
      .group-name
        =@group.name
      .group-member
        Member : 
        - @group.users.each do |user|
          =user.name
    =link_to "Edit", edit_group_path(@group), class: "edit-btn"
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-form
        = f.text_field :content, class: "text", placeholder: "type a message"
        = f.label :image, class: "image-icon" do
          = icon('far', 'image', class:"Form__icon")
          =f.file_field :image, class:"Hidden"
      =f.submit "Send", class: "send-btn"